element.style {
}
@media screen and (min-width: 42em) and (max-width: 64em)
<style>
.page-header {
    padding: 3rem 4rem;
}
<style>
.page-header {
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgb(21, 153, 87);
    background-image: linear-gradient(120deg, rgb(21, 87, 153), rgb(21, 153, 87));
}
<style>
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
<style>
* {
    box-sizing: border-box;
}
user agent stylesheet
header {
    display: block;
}
<style>
body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(96, 108, 113);
    padding: 0px;
    margin: 0px;
}
